body {
	background-color: blue;
	font-family: helvetica;
	font-weight: bold;
	margin: 50px 50px;
	
}
.container {
	font-size: 30px;
	background-color: #01DF01;
	padding-top: 30px;
	padding-left: 30px;
	padding-right:50px;
	padding-bottom: 40px;
	margin: 0 auto 0 auto;
	text-align: center;

}
p {
	font-size: 50px;
	font-weight: bolder;
	background-color: #01DF01;
	color: red;
	margin: 50px 50px;
	text-align: center;
}

div {
	background-color: #01DF01;
	margin-left: 20px;
}
.special {
	background-color: #FFFF00;
	padding: 0 auto 0 auto;
	font-size: 50px;
	color: black;
	margin: 50px 50px;
	
}
h1 {
	color: red;
	font-size: 80px;
	margin: 50px 50px;
}

